:root {
	--main-bg-color: black;
	--main-font-color: wheat;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: var(--main-bg-color);
	color: var(--main-font-color);
}

.App {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	justify-content: space-evenly;
	margin: 5px;
}

.stats-panel {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 20px;
	padding-bottom: 25px;
	border-bottom: 1px solid wheat;
}
